app/flows/environment.json
[{
    "id": "515721db.a08aa",
    "type": "tab",
    "label": "Environment"
}, {
    "id": "e62d2957.dc7ac8",
    "type": "serial out",
    "z": "515721db.a08aa",
    "name": "",
    "serial": "a142e8eb.6d7f68",
    "x": 724,
    "y": 207,
    "wires": []
}, {
    "id": "1647d3e3.b85e8c",
    "type": "inject",
    "z": "515721db.a08aa",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 237,
    "y": 175.5,
    "wires": [
        ["5f101c58.cd0144"]
    ]
}, {
    "id": "5f101c58.cd0144",
    "type": "env_enable",
    "z": "515721db.a08aa",
    "name": "",
    "enabled": "true",
    "pressure": "true",
    "temperature": "true",
    "humidity": "false",
    "lux": "true",
    "x": 399,
    "y": 178.5,
    "wires": [
        ["e62d2957.dc7ac8"]
    ]
}, {
    "id": "d69f9055.8574d",
    "type": "env_read",
    "z": "515721db.a08aa",
    "name": "",
    "x": 394,
    "y": 250.5,
    "wires": [
        ["e62d2957.dc7ac8"]
    ]
}, {
    "id": "c74f4cd4.31d56",
    "type": "inject",
    "z": "515721db.a08aa",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "20",
    "crontab": "",
    "once": false,
    "x": 242,
    "y": 247.5,
    "wires": [
        ["d69f9055.8574d"]
    ]
}, {
    "id": "2c170b6c.938bb4",
    "type": "serial in",
    "z": "515721db.a08aa",
    "name": "",
    "serial": "a142e8eb.6d7f68",
    "x": 214,
    "y": 333,
    "wires": [
        ["360bb425.0b385c"]
    ]
}, {
    "id": "360bb425.0b385c",
    "type": "env_notification_catch",
    "z": "515721db.a08aa",
    "name": "",
    "x": 437,
    "y": 331,
    "wires": [
        ["eaa0e646.d42d98"]
    ]
}, {
    "id": "eaa0e646.d42d98",
    "type": "function",
    "z": "515721db.a08aa",
    "name": "env reading",
    "func": " msg.payload =  \n {\n    \"temp\": msg.temperature,\n    \"lux\": msg.lux,\n    \"pressure\": msg.pressure\n     \n };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 658,
    "y": 331,
    "wires": [
        ["d2ef9217.e21e8"]
    ]
}, {
    "id": "d2ef9217.e21e8",
    "type": "debug",
    "z": "515721db.a08aa",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 860,
    "y": 336,
    "wires": []
}, {
    "id": "a142e8eb.6d7f68",
    "type": "serial-port",
    "z": "515721db.a08aa",
    "serialport": "/dev/ttySAC3",
    "serialbaud": "115200",
    "databits": "8",
    "parity": "none",
    "stopbits": "1",
    "newline": "\\n",
    "bin": "false",
    "out": "char",
    "addchar": false
}]
