app/flows/imu.json
[{
    "id": "135c29c9.3fa956",
    "type": "tab",
    "label": "IMU"
}, {
    "id": "c9434f67.39264",
    "type": "inject",
    "z": "135c29c9.3fa956",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 210,
    "y": 165.5,
    "wires": [
        ["f2b548b9.f4dd58"]
    ]
}, {
    "id": "f2b548b9.f4dd58",
    "type": "pos_enable",
    "z": "135c29c9.3fa956",
    "name": "",
    "enabled": "true",
    "x": 398,
    "y": 160.5,
    "wires": [
        ["ce421758.5c1168", "f7029ec.0771c6"]
    ]
}, {
    "id": "f7029ec.0771c6",
    "type": "serial out",
    "z": "135c29c9.3fa956",
    "name": "",
    "serial": "2f4486be.5bc49a",
    "x": 755,
    "y": 146,
    "wires": []
}, {
    "id": "ce421758.5c1168",
    "type": "debug",
    "z": "135c29c9.3fa956",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 688,
    "y": 235,
    "wires": []
}, {
    "id": "66c50e2f.a4ee4",
    "type": "inject",
    "z": "135c29c9.3fa956",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 182,
    "y": 219.5,
    "wires": [
        ["c1624b88.3fef78"]
    ]
}, {
    "id": "c1624b88.3fef78",
    "type": "pos_configure",
    "z": "135c29c9.3fa956",
    "name": "",
    "enable_raw_notification": "false",
    "enable_euler_notification": "true",
    "sampling_frequency": "1",
    "tap_notification": "true",
    "dtap_notification": "true",
    "freefall_notification": "false",
    "tilt_notification": "false",
    "wakeup_notification": "false",
    "x": 378,
    "y": 209.5,
    "wires": [
        ["f7029ec.0771c6", "ce421758.5c1168"]
    ]
}, {
    "id": "f9e6d7b8.f640c8",
    "type": "serial in",
    "z": "135c29c9.3fa956",
    "name": "",
    "serial": "2f4486be.5bc49a",
    "x": 192,
    "y": 378.5,
    "wires": [
        ["97955d3e.27d79"]
    ]
}, {
    "id": "97955d3e.27d79",
    "type": "pos_notification_catch",
    "z": "135c29c9.3fa956",
    "name": "",
    "x": 456,
    "y": 353,
    "wires": [
        [],
        ["7cccc9c5.2cc008"],
        [],
        [],
        ["35ee282c.d9d928"],
        [],
        [],
        []
    ]
}, {
    "id": "f6db7aac.87f7a8",
    "type": "debug",
    "z": "135c29c9.3fa956",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 1047,
    "y": 351,
    "wires": []
}, {
    "id": "7cccc9c5.2cc008",
    "type": "function",
    "z": "135c29c9.3fa956",
    "name": "",
    "func": "msg.payload = {\n    \"pitch\": msg.pitch,\n    \"roll\": msg.roll,\n    \"yaw\": msg.yaw\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 825,
    "y": 317,
    "wires": [
        ["f6db7aac.87f7a8"]
    ]
}, {
    "id": "35ee282c.d9d928",
    "type": "function",
    "z": "135c29c9.3fa956",
    "name": "",
    "func": "msg.payload = {\n \"tap\": 1\n };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 831,
    "y": 383.5,
    "wires": [
        ["f6db7aac.87f7a8"]
    ]
}, {
    "id": "2f4486be.5bc49a",
    "type": "serial-port",
    "z": "135c29c9.3fa956",
    "serialport": "/dev/ttySAC3",
    "serialbaud": "115200",
    "databits": "8",
    "parity": "none",
    "stopbits": "1",
    "newline": "\\n",
    "bin": "false",
    "out": "char",
    "addchar": false
}]
