app/flows/leds.json
[
    {
        "id": "37ebb5b3.f99f0a",
        "type": "inject",
        "z": "8a275203.868b7",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 125,
        "y": 109.5,
        "wires": [
            [
                "8a69a5b3.ed7d68"
            ]
        ]
    },
    {
        "id": "8a69a5b3.ed7d68",
        "type": "led_rgb_enable",
        "z": "8a275203.868b7",
        "name": "Enable LED",
        "pin": "0",
        "enabled": "true",
        "x": 290,
        "y": 110.5,
        "wires": [
            [
                "9b53bd79.5d9f9"
            ]
        ]
    },
    {
        "id": "17058886.4e7727",
        "type": "led_rgb_set",
        "z": "8a275203.868b7",
        "name": "set LED",
        "pin": "0",
        "color": "00ff00",
        "intensity": "50",
        "autostart": "true",
        "x": 285,
        "y": 163.5,
        "wires": [
            [
                "45448fd9.a54c7"
            ]
        ]
    },
    {
        "id": "6f887c5c.eeab74",
        "type": "inject",
        "z": "8a275203.868b7",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 123,
        "y": 162.5,
        "wires": [
            [
                "17058886.4e7727"
            ]
        ]
    },
    {
        "id": "9b53bd79.5d9f9",
        "type": "serial out",
        "z": "8a275203.868b7",
        "name": "",
        "serial": "e004f4f0.df8a38",
        "x": 471,
        "y": 108,
        "wires": []
    },
    {
        "id": "45448fd9.a54c7",
        "type": "serial out",
        "z": "8a275203.868b7",
        "name": "",
        "serial": "e004f4f0.df8a38",
        "x": 465,
        "y": 163,
        "wires": []
    },
    {
        "id": "17491b26.486d85",
        "type": "comment",
        "z": "8a275203.868b7",
        "name": "All LEDs ON",
        "info": "",
        "x": 109,
        "y": 59.5,
        "wires": []
    },
    {
        "id": "5139f300.b9e2fc",
        "type": "inject",
        "z": "8a275203.868b7",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 677,
        "y": 110,
        "wires": [
            [
                "a18b5230.44255"
            ]
        ]
    },
    {
        "id": "a18b5230.44255",
        "type": "led_rgb_enable",
        "z": "8a275203.868b7",
        "name": "Enable LED",
        "pin": "0",
        "enabled": "true",
        "x": 842,
        "y": 111,
        "wires": [
            [
                "75dcf6b0.0185e8"
            ]
        ]
    },
    {
        "id": "a9406146.0d01a",
        "type": "led_rgb_set",
        "z": "8a275203.868b7",
        "name": "set LED",
        "pin": "0",
        "color": "000000",
        "intensity": "0",
        "autostart": "true",
        "x": 837,
        "y": 164,
        "wires": [
            [
                "25fa21c1.24d84e"
            ]
        ]
    },
    {
        "id": "350c2205.0642de",
        "type": "inject",
        "z": "8a275203.868b7",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 675,
        "y": 163,
        "wires": [
            [
                "a9406146.0d01a"
            ]
        ]
    },
    {
        "id": "75dcf6b0.0185e8",
        "type": "serial out",
        "z": "8a275203.868b7",
        "name": "",
        "serial": "e004f4f0.df8a38",
        "x": 1023,
        "y": 108.5,
        "wires": []
    },
    {
        "id": "25fa21c1.24d84e",
        "type": "serial out",
        "z": "8a275203.868b7",
        "name": "",
        "serial": "e004f4f0.df8a38",
        "x": 1017,
        "y": 163.5,
        "wires": []
    },
    {
        "id": "14e6e5b6.63571a",
        "type": "comment",
        "z": "8a275203.868b7",
        "name": "All LEDs OFF",
        "info": "",
        "x": 661,
        "y": 60,
        "wires": []
    },
    {
        "id": "b07d4a7b.b82dc8",
        "type": "inject",
        "z": "8a275203.868b7",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 119,
        "y": 290,
        "wires": [
            [
                "d5a00a92.8b7b38"
            ]
        ]
    },
    {
        "id": "d5a00a92.8b7b38",
        "type": "led_rgb_enable",
        "z": "8a275203.868b7",
        "name": "Enable LED",
        "pin": "1",
        "enabled": "true",
        "x": 284,
        "y": 291,
        "wires": [
            [
                "458a1362.bc9ebc"
            ]
        ]
    },
    {
        "id": "93eacf23.655a4",
        "type": "led_rgb_set",
        "z": "8a275203.868b7",
        "name": "set LED",
        "pin": "1",
        "color": "00ff00",
        "intensity": "20",
        "autostart": "true",
        "x": 279,
        "y": 344,
        "wires": [
            [
                "4b4aa125.dd57b"
            ]
        ]
    },
    {
        "id": "69706fa4.bd95f",
        "type": "inject",
        "z": "8a275203.868b7",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 117,
        "y": 343,
        "wires": [
            [
                "93eacf23.655a4"
            ]
        ]
    },
    {
        "id": "458a1362.bc9ebc",
        "type": "serial out",
        "z": "8a275203.868b7",
        "name": "",
        "serial": "e004f4f0.df8a38",
        "x": 465,
        "y": 288.5,
        "wires": []
    },
    {
        "id": "4b4aa125.dd57b",
        "type": "serial out",
        "z": "8a275203.868b7",
        "name": "",
        "serial": "e004f4f0.df8a38",
        "x": 459,
        "y": 343.5,
        "wires": []
    },
    {
        "id": "3d7d24ae.104fbc",
        "type": "comment",
        "z": "8a275203.868b7",
        "name": "LED1",
        "info": "",
        "x": 83,
        "y": 240,
        "wires": []
    },
    {
        "id": "aceeec82.ac2c6",
        "type": "inject",
        "z": "8a275203.868b7",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 668,
        "y": 290,
        "wires": [
            [
                "df66d6ec.344258"
            ]
        ]
    },
    {
        "id": "df66d6ec.344258",
        "type": "led_rgb_enable",
        "z": "8a275203.868b7",
        "name": "Enable LED",
        "pin": "2",
        "enabled": "true",
        "x": 833,
        "y": 291,
        "wires": [
            [
                "c3dd7411.275bb8"
            ]
        ]
    },
    {
        "id": "f791916a.e08a",
        "type": "led_rgb_set",
        "z": "8a275203.868b7",
        "name": "set LED",
        "pin": "2",
        "color": "00ff00",
        "intensity": "20",
        "autostart": "true",
        "x": 828,
        "y": 344,
        "wires": [
            [
                "e07b6b4b.52f418"
            ]
        ]
    },
    {
        "id": "a8e4c4e7.045e88",
        "type": "inject",
        "z": "8a275203.868b7",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 666,
        "y": 343,
        "wires": [
            [
                "f791916a.e08a"
            ]
        ]
    },
    {
        "id": "c3dd7411.275bb8",
        "type": "serial out",
        "z": "8a275203.868b7",
        "name": "",
        "serial": "e004f4f0.df8a38",
        "x": 1014,
        "y": 288.5,
        "wires": []
    },
    {
        "id": "e07b6b4b.52f418",
        "type": "serial out",
        "z": "8a275203.868b7",
        "name": "",
        "serial": "e004f4f0.df8a38",
        "x": 1008,
        "y": 343.5,
        "wires": []
    },
    {
        "id": "49516820.7f02a8",
        "type": "comment",
        "z": "8a275203.868b7",
        "name": "LED2",
        "info": "",
        "x": 632,
        "y": 240,
        "wires": []
    },
    {
        "id": "c7307e39.a7c6c",
        "type": "inject",
        "z": "8a275203.868b7",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 122,
        "y": 470,
        "wires": [
            [
                "79e1b7ed.10cdb8"
            ]
        ]
    },
    {
        "id": "79e1b7ed.10cdb8",
        "type": "led_rgb_enable",
        "z": "8a275203.868b7",
        "name": "Enable LED",
        "pin": "3",
        "enabled": "true",
        "x": 287,
        "y": 471,
        "wires": [
            [
                "9e9ba653.91a208"
            ]
        ]
    },
    {
        "id": "a4090e23.292e9",
        "type": "led_rgb_set",
        "z": "8a275203.868b7",
        "name": "set LED",
        "pin": "3",
        "color": "00ff00",
        "intensity": "20",
        "autostart": "true",
        "x": 282,
        "y": 524,
        "wires": [
            [
                "433580c.e12168"
            ]
        ]
    },
    {
        "id": "9b22a2a1.d6f2e",
        "type": "inject",
        "z": "8a275203.868b7",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 523,
        "wires": [
            [
                "a4090e23.292e9"
            ]
        ]
    },
    {
        "id": "9e9ba653.91a208",
        "type": "serial out",
        "z": "8a275203.868b7",
        "name": "",
        "serial": "e004f4f0.df8a38",
        "x": 468,
        "y": 468.5,
        "wires": []
    },
    {
        "id": "433580c.e12168",
        "type": "serial out",
        "z": "8a275203.868b7",
        "name": "",
        "serial": "e004f4f0.df8a38",
        "x": 462,
        "y": 523.5,
        "wires": []
    },
    {
        "id": "a5bd8b8c.e1e868",
        "type": "comment",
        "z": "8a275203.868b7",
        "name": "LED3",
        "info": "",
        "x": 86,
        "y": 420,
        "wires": []
    },
    {
        "id": "d397a472.5abf88",
        "type": "inject",
        "z": "8a275203.868b7",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 671,
        "y": 470,
        "wires": [
            [
                "b93e374d.014888"
            ]
        ]
    },
    {
        "id": "b93e374d.014888",
        "type": "led_rgb_enable",
        "z": "8a275203.868b7",
        "name": "enable LED",
        "pin": "2",
        "enabled": "true",
        "x": 836,
        "y": 471,
        "wires": [
            [
                "83f5ac9.a94b85"
            ]
        ]
    },
    {
        "id": "c65a6c42.e681e",
        "type": "led_rgb_set",
        "z": "8a275203.868b7",
        "name": "set LED",
        "pin": "4",
        "color": "00ff00",
        "intensity": "20",
        "autostart": "true",
        "x": 831,
        "y": 524,
        "wires": [
            [
                "cf085ca7.3789e"
            ]
        ]
    },
    {
        "id": "eb068245.81e21",
        "type": "inject",
        "z": "8a275203.868b7",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 669,
        "y": 523,
        "wires": [
            [
                "c65a6c42.e681e"
            ]
        ]
    },
    {
        "id": "83f5ac9.a94b85",
        "type": "serial out",
        "z": "8a275203.868b7",
        "name": "",
        "serial": "e004f4f0.df8a38",
        "x": 1017,
        "y": 468.5,
        "wires": []
    },
    {
        "id": "cf085ca7.3789e",
        "type": "serial out",
        "z": "8a275203.868b7",
        "name": "",
        "serial": "e004f4f0.df8a38",
        "x": 1011,
        "y": 523.5,
        "wires": []
    },
    {
        "id": "ccd39fec.98b5c",
        "type": "comment",
        "z": "8a275203.868b7",
        "name": "LED4",
        "info": "",
        "x": 635,
        "y": 420,
        "wires": []
    },
    {
        "id": "e004f4f0.df8a38",
        "type": "serial-port",
        "z": "8a275203.868b7",
        "serialport": "/dev/ttySAC3",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    }
]
