app/flows/leds.json
[{
    "id": "c135e127.d0c5a",
    "type": "tab",
    "label": "LEDs"
}, {
    "id": "54696ce.8971394",
    "type": "inject",
    "z": "c135e127.d0c5a",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 192,
    "y": 162,
    "wires": [
        ["2fac402a.8e80a"]
    ]
}, {
    "id": "2fac402a.8e80a",
    "type": "led_rgb_enable",
    "z": "c135e127.d0c5a",
    "name": "Enable LED",
    "pin": "0",
    "enabled": "true",
    "x": 357,
    "y": 163,
    "wires": [
        ["867dd2e1.df343"]
    ]
}, {
    "id": "2ae16203.1eed6e",
    "type": "led_rgb_set",
    "z": "c135e127.d0c5a",
    "name": "set LED",
    "pin": "0",
    "color": "00ff00",
    "intensity": "50",
    "autostart": "true",
    "x": 352,
    "y": 216,
    "wires": [
        ["e8df3905.031528"]
    ]
}, {
    "id": "1c413a10.75e006",
    "type": "inject",
    "z": "c135e127.d0c5a",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 190,
    "y": 215,
    "wires": [
        ["2ae16203.1eed6e"]
    ]
}, {
    "id": "867dd2e1.df343",
    "type": "serial out",
    "z": "c135e127.d0c5a",
    "name": "",
    "serial": "eaeff906.e42ec8",
    "x": 538,
    "y": 160.5,
    "wires": []
}, {
    "id": "e8df3905.031528",
    "type": "serial out",
    "z": "c135e127.d0c5a",
    "name": "",
    "serial": "eaeff906.e42ec8",
    "x": 532,
    "y": 215.5,
    "wires": []
}, {
    "id": "c26fc3d5.52477",
    "type": "comment",
    "z": "c135e127.d0c5a",
    "name": "All LEDs ON",
    "info": "",
    "x": 176,
    "y": 112,
    "wires": []
}, {
    "id": "3a06813c.d5654e",
    "type": "inject",
    "z": "c135e127.d0c5a",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 744,
    "y": 162.5,
    "wires": [
        ["43e0e15f.3de29"]
    ]
}, {
    "id": "43e0e15f.3de29",
    "type": "led_rgb_enable",
    "z": "c135e127.d0c5a",
    "name": "Enable LED",
    "pin": "0",
    "enabled": "true",
    "x": 909,
    "y": 163.5,
    "wires": [
        ["bd1e6f61.2fd6f"]
    ]
}, {
    "id": "89904306.47aa2",
    "type": "led_rgb_set",
    "z": "c135e127.d0c5a",
    "name": "set LED",
    "pin": "0",
    "color": "000000",
    "intensity": "0",
    "autostart": "true",
    "x": 904,
    "y": 216.5,
    "wires": [
        ["813863e.d8deda"]
    ]
}, {
    "id": "9778f968.55aaa8",
    "type": "inject",
    "z": "c135e127.d0c5a",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 742,
    "y": 215.5,
    "wires": [
        ["89904306.47aa2"]
    ]
}, {
    "id": "bd1e6f61.2fd6f",
    "type": "serial out",
    "z": "c135e127.d0c5a",
    "name": "",
    "serial": "eaeff906.e42ec8",
    "x": 1090,
    "y": 161,
    "wires": []
}, {
    "id": "813863e.d8deda",
    "type": "serial out",
    "z": "c135e127.d0c5a",
    "name": "",
    "serial": "eaeff906.e42ec8",
    "x": 1084,
    "y": 216,
    "wires": []
}, {
    "id": "4916e9f5.9faf78",
    "type": "comment",
    "z": "c135e127.d0c5a",
    "name": "All LEDs OFF",
    "info": "",
    "x": 728,
    "y": 112.5,
    "wires": []
}, {
    "id": "1d207139.5b5f3f",
    "type": "inject",
    "z": "c135e127.d0c5a",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 186,
    "y": 342.5,
    "wires": [
        ["58e3f20.333171"]
    ]
}, {
    "id": "58e3f20.333171",
    "type": "led_rgb_enable",
    "z": "c135e127.d0c5a",
    "name": "Enable LED",
    "pin": "1",
    "enabled": "true",
    "x": 351,
    "y": 343.5,
    "wires": [
        ["e154c22a.86c08"]
    ]
}, {
    "id": "66f15af1.305254",
    "type": "led_rgb_set",
    "z": "c135e127.d0c5a",
    "name": "set LED",
    "pin": "1",
    "color": "00ff00",
    "intensity": "20",
    "autostart": "true",
    "x": 346,
    "y": 396.5,
    "wires": [
        ["55fa285d.fa6408"]
    ]
}, {
    "id": "1ad5ae64.6a35b2",
    "type": "inject",
    "z": "c135e127.d0c5a",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 184,
    "y": 395.5,
    "wires": [
        ["66f15af1.305254"]
    ]
}, {
    "id": "e154c22a.86c08",
    "type": "serial out",
    "z": "c135e127.d0c5a",
    "name": "",
    "serial": "eaeff906.e42ec8",
    "x": 532,
    "y": 341,
    "wires": []
}, {
    "id": "55fa285d.fa6408",
    "type": "serial out",
    "z": "c135e127.d0c5a",
    "name": "",
    "serial": "eaeff906.e42ec8",
    "x": 526,
    "y": 396,
    "wires": []
}, {
    "id": "4e20f5c9.c89edc",
    "type": "comment",
    "z": "c135e127.d0c5a",
    "name": "LED1",
    "info": "",
    "x": 150,
    "y": 292.5,
    "wires": []
}, {
    "id": "43563b8c.73be14",
    "type": "inject",
    "z": "c135e127.d0c5a",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 735,
    "y": 342.5,
    "wires": [
        ["15e3a0bc.f6c4bf"]
    ]
}, {
    "id": "15e3a0bc.f6c4bf",
    "type": "led_rgb_enable",
    "z": "c135e127.d0c5a",
    "name": "Enable LED",
    "pin": "2",
    "enabled": "true",
    "x": 900,
    "y": 343.5,
    "wires": [
        ["ea27471a.972278"]
    ]
}, {
    "id": "e3a1c59c.862148",
    "type": "led_rgb_set",
    "z": "c135e127.d0c5a",
    "name": "set LED",
    "pin": "2",
    "color": "00ff00",
    "intensity": "20",
    "autostart": "true",
    "x": 895,
    "y": 396.5,
    "wires": [
        ["5af53629.e7e7a8"]
    ]
}, {
    "id": "2014ad5a.791702",
    "type": "inject",
    "z": "c135e127.d0c5a",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 733,
    "y": 395.5,
    "wires": [
        ["e3a1c59c.862148"]
    ]
}, {
    "id": "ea27471a.972278",
    "type": "serial out",
    "z": "c135e127.d0c5a",
    "name": "",
    "serial": "eaeff906.e42ec8",
    "x": 1081,
    "y": 341,
    "wires": []
}, {
    "id": "5af53629.e7e7a8",
    "type": "serial out",
    "z": "c135e127.d0c5a",
    "name": "",
    "serial": "eaeff906.e42ec8",
    "x": 1075,
    "y": 396,
    "wires": []
}, {
    "id": "9ce15f1e.ca8b2",
    "type": "comment",
    "z": "c135e127.d0c5a",
    "name": "LED2",
    "info": "",
    "x": 699,
    "y": 292.5,
    "wires": []
}, {
    "id": "b2c4a2a0.01d4",
    "type": "inject",
    "z": "c135e127.d0c5a",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 189,
    "y": 522.5,
    "wires": [
        ["def7c5a2.e5d2c8"]
    ]
}, {
    "id": "def7c5a2.e5d2c8",
    "type": "led_rgb_enable",
    "z": "c135e127.d0c5a",
    "name": "Enable LED",
    "pin": "3",
    "enabled": "true",
    "x": 354,
    "y": 523.5,
    "wires": [
        ["29693837.31bec8"]
    ]
}, {
    "id": "3a7f03e0.d47d6c",
    "type": "led_rgb_set",
    "z": "c135e127.d0c5a",
    "name": "set LED",
    "pin": "3",
    "color": "00ff00",
    "intensity": "20",
    "autostart": "true",
    "x": 349,
    "y": 576.5,
    "wires": [
        ["d70e8c26.9a52f"]
    ]
}, {
    "id": "857952b1.5837",
    "type": "inject",
    "z": "c135e127.d0c5a",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 187,
    "y": 575.5,
    "wires": [
        ["3a7f03e0.d47d6c"]
    ]
}, {
    "id": "29693837.31bec8",
    "type": "serial out",
    "z": "c135e127.d0c5a",
    "name": "",
    "serial": "eaeff906.e42ec8",
    "x": 535,
    "y": 521,
    "wires": []
}, {
    "id": "d70e8c26.9a52f",
    "type": "serial out",
    "z": "c135e127.d0c5a",
    "name": "",
    "serial": "eaeff906.e42ec8",
    "x": 529,
    "y": 576,
    "wires": []
}, {
    "id": "f4922486.f2fa78",
    "type": "comment",
    "z": "c135e127.d0c5a",
    "name": "LED3",
    "info": "",
    "x": 153,
    "y": 472.5,
    "wires": []
}, {
    "id": "c009393d.ca15a8",
    "type": "inject",
    "z": "c135e127.d0c5a",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 738,
    "y": 522.5,
    "wires": [
        ["5ae4e4df.798dfc"]
    ]
}, {
    "id": "5ae4e4df.798dfc",
    "type": "led_rgb_enable",
    "z": "c135e127.d0c5a",
    "name": "enable LED",
    "pin": "2",
    "enabled": "true",
    "x": 903,
    "y": 523.5,
    "wires": [
        ["4d2794ab.19ef1c"]
    ]
}, {
    "id": "13e3e1ab.e9757e",
    "type": "led_rgb_set",
    "z": "c135e127.d0c5a",
    "name": "set LED",
    "pin": "4",
    "color": "00ff00",
    "intensity": "20",
    "autostart": "true",
    "x": 898,
    "y": 576.5,
    "wires": [
        ["98285fb1.d7009"]
    ]
}, {
    "id": "ecf9f562.3b3f68",
    "type": "inject",
    "z": "c135e127.d0c5a",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 736,
    "y": 575.5,
    "wires": [
        ["13e3e1ab.e9757e"]
    ]
}, {
    "id": "4d2794ab.19ef1c",
    "type": "serial out",
    "z": "c135e127.d0c5a",
    "name": "",
    "serial": "eaeff906.e42ec8",
    "x": 1084,
    "y": 521,
    "wires": []
}, {
    "id": "98285fb1.d7009",
    "type": "serial out",
    "z": "c135e127.d0c5a",
    "name": "",
    "serial": "eaeff906.e42ec8",
    "x": 1078,
    "y": 576,
    "wires": []
}, {
    "id": "a8449526.334548",
    "type": "comment",
    "z": "c135e127.d0c5a",
    "name": "LED4",
    "info": "",
    "x": 702,
    "y": 472.5,
    "wires": []
}, {
    "id": "eaeff906.e42ec8",
    "type": "serial-port",
    "z": "c135e127.d0c5a",
    "serialport": "/dev/ttySAC3",
    "serialbaud": "115200",
    "databits": "8",
    "parity": "none",
    "stopbits": "1",
    "newline": "\\n",
    "bin": "false",
    "out": "char",
    "addchar": false
}]
